<div class="container">
  <div class="overlay"
       (click)="closeDialog()"
       [ngClass]="{ overlShow: showModal, overlHide: !showModal }">
  </div>

  <section class="basic-modal" *ngIf="showModal">

    <header>
      <div class="row align-items-center">
        <div class="col-10">
          {{ modalTitle | translate }}
        </div>
        <div class="col-2">
          <button type="button" class="close" aria-label="Close" (click)="closeDialog()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
    </header>

    <article class="content">
      <ng-content></ng-content>
    </article>

  </section>
</div>
